extends ../layout

block content    
  strong Date: 
    span #{conversation.createdAt}
  br
  strong Title: 
    span #{conversation.title}
  br      
  strong Participants:
    each participant in conversation.participants
        span #{participant} ,
  br
  h3 messages
  ul.messages(style='overflow-y:scroll;height:300px;')
      if messages.length
          each message in messages
              li
                  strong Sender: 
                  if message.owner.refModel === 'Member'
                      span #{message.owner.modelRef.role}
                  else
                      span #{message.owner.modelRef.email}
                  br
                  strong Date: 
                  span #{message.createdAt}
                  br
                  strong Body: 
                  span #{message.body}
                  br
      else
          li There are no messages yet
      
  .type_msg
    .input_msg_write
      input.text-box(type='text', placeholder="Type a message")
      button.btn#sendMessage
        i.fa.fa-paper-plane

          
block scripts
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io();
    const CONVERSATION = '#{conversation._id}';

    socket.on('chat message', function (msg) {
        console.log(msg);
        appendMessage( msg,true);
    });

    socket.on('connect', function () {
        socket.emit('init chat', {'conversation': CONVERSATION});
    });


    $('#sendMessage').click(sendNewMessage);

    function sendNewMessage() {
        var userInput = $('.text-box');
        var newMessage = userInput.val().trim() //.replace(/\<div\>|\<br.*?\>/ig, '\n').replace(/\<\/div\>/g, '').trim().replace(/\n/g, '<br>');

        if (!newMessage) return;

        var message = {
            conversation: CONVERSATION,
            text: newMessage
        }

        socket.emit('new message', message);

        // clean out old message
        userInput.val('');
        // focus on input
        userInput.focus();

       // appendMessage(message['text']);
    }

    function appendMessage(newMessage, mine) {
        var messagesContainer = $('.messages');

        if (mine) {
            messagesContainer.append(`
                        <li class="self">
                            <strong>Sender: </strong><span>${newMessage.owner}</span><br>
                            <strong>Date: </strong><span>${newMessage.createdAt}</span><br>
                            <strong>Body: </strong><span>${newMessage.body}</span><br>
                        </li>
                        `)
        } else {
            messagesContainer.append([
                '<li class="other">',
                newMessage,
                '</li>'
            ].join(''));
        }
        
        messagesContainer.finish().animate({
            scrollTop: messagesContainer.prop("scrollHeight")
        }, 250);
    }
