extends ../layout

block content
  .page
    // .page-navs
    nav.page-navs
      // .nav-scroller
      .nav-scroller
        // .nav
        .nav.nav-tabs
          a.nav-link.active.show(data-toggle='tab' href='#tab1')
            | All 
            span.badge (7)
          a.nav-link(data-toggle='tab' href='#tab2') Starred
          a.nav-link(data-toggle='tab' href='#tab3') Trash
        // /.nav
      // /.nav-scroller
    // /.page-navs
    // .page-inner
    .page-inner
      // .page-title-bar
      header.page-title-bar
        .d-flex.justify-content-between
          .d-md-inline-block
            // .input-group
            .input-group.input-group-alt
              // .input-group
              .input-group
                .input-group-prepend
                  span.input-group-text
                    span.oi.oi-magnifying-glass
                input.form-control(type='text' placeholder='Search message')
              // /.input-group
              // .input-group-append
              .input-group-append
                select.custom-select
                  option(selected='')  Filter By 
                  option(value='1')  Team 
                  option(value='3')  Project 
                  option(value='2')  People 
              // /.input-group-append
            // /.input-group
          button.btn.btn-success.d-none.d-sm-inline-block(type='button') New Message
        button.btn.btn-success.btn-floated.d-block.d-sm-none(type='button')
          span.fa.fa-plus
      // /.page-title-bar
      // .page-section
      .page-section
        // .card
        section.card
          // .list-group-messages
          .list-group.list-group-messages.list-group-flush.list-group-bordered
            each conversation in conversations
              .list-group-item.unread
                // message figure
                .list-group-item-figure
                  span.rating.rating-sm.mr-3
                    input#star1(type='checkbox' value='1')
                    label(for='star1')
                      span.fa.fa-star
                  // .avatar
                  .avatar.has-badge
                    a.user-avatar(href='/m/'+conversation._id)
                      img(src='assets/images/avatars/team2.png' alt='')
                    span.tile.tile-xs.tile-circle.bg-red 2
                  // /.avatar
                // /message figure
                // message body
                .list-group-item-body.pl-md-2
                  // grid row
                  .row
                    // grid column
                    .col-12.col-lg-3.d-none.d-lg-block
                      h4.list-group-item-title.text-truncate
                        a(href='/m/'+conversation._id) #{conversation.department[0]}
                      p.list-group-item-text= dateFnsFormat(conversation.latestMessage.createdAt,'MMM D, h:m aa') 
                    // /grid column
                    // grid column
                    .col-12.col-lg-9
                      h4.list-group-item-title.text-truncate
                        a(href='/m/'+conversation._id) #{conversation.title}
                      p.list-group-item-text.text-truncate  #{conversation.latestMessage.body}. 
                    // /grid column
                    // grid column
                    .col-12.d-lg-none
                      p.list-group-item-text  16 minutes ago 
                    // /grid column
                  // /grid row
                // /message body
                // message actions
                .list-group-item-figure
                  // .dropdown
                  .dropdown
                    button.btn.btn-sm.btn-icon.btn-secondary(data-toggle='dropdown')
                      i.fa.fa-ellipsis-h
                    .dropdown-arrow
                    // .dropdown-menu
                    .dropdown-menu.dropdown-menu-right
                      a.dropdown-item(href='#departmentNewModal' data-toggle='modal') Convert to Ticket
                      //a.dropdown-item(href='#!') Mark as unread
                      //a.dropdown-item(href='#!') Toggle star
                      //a.dropdown-item(href='#!') Trash
                    // /.dropdown-menu
                  // /.dropdown
                // /message actions
              // /message item
             
            // message item
            .list-group-item.unread.d-none
              // message figure
              .list-group-item-figure
                span.rating.rating-sm.mr-3
                  input#star3(type='checkbox' value='1' checked='')
                  label(for='star3')
                    span.fa.fa-star
                // .avatar
                .avatar.has-badge
                  a.user-avatar(href='page-conversations.html')
                    img(src='assets/images/avatars/team1.jpg' alt='')
                  span.tile.tile-xs.tile-circle.bg-red 4
                // /.avatar
              // /message figure
              // message body
              .list-group-item-body.pl-md-2
                // grid row
                .row
                  // grid column
                  .col-12.col-lg-3.d-none.d-lg-block
                    h4.list-group-item-title.text-truncate
                      a(href='page-conversations.html') Stilearning
                    p.list-group-item-text  2 hours ago 
                  // /grid column
                  // grid column
                  .col-12.col-lg-9
                    h4.list-group-item-title.text-truncate
                      a(href='page-conversations.html') Invitation: Joe&apos;s Dinner @ Fri Aug 22
                    p.list-group-item-text.text-truncate  Sorry, I can&apos;t aspernatur debitis explicabo expedita eos, consequatur. 
                  // /grid column
                  // grid column
                  .col-12.d-lg-none
                    p.list-group-item-text  2 hours ago 
                  // /grid column
                // /grid row
              // /message body
              // message actions
              .list-group-item-figure
                // .dropdown
                .dropdown
                  button.btn.btn-sm.btn-icon.btn-secondary(data-toggle='dropdown')
                    i.fa.fa-ellipsis-h
                  .dropdown-arrow
                  // .dropdown-menu
                  .dropdown-menu.dropdown-menu-right
                    a.dropdown-item(href='#!') Mark as read
                    a.dropdown-item(href='#!') Mark as unread
                    a.dropdown-item(href='#!') Toggle star
                    a.dropdown-item(href='#!') Trash
                  // /.dropdown-menu
                // /.dropdown
              // /message actions
            // /message item
            // message item
            .list-group-item.read.d-none
              // message figure
              .list-group-item-figure
                span.rating.rating-sm.mr-3
                  input#star4(type='checkbox' value='1')
                  label(for='star4')
                    span.fa.fa-star
                // .avatar
                .avatar
                  a.user-avatar(href='page-conversations.html')
                    img(src='assets/images/avatars/team3.png' alt='')
                // /.avatar
              // /message figure
              // message body
              .list-group-item-body.pl-md-2
                // grid row
                .row
                  // grid column
                  .col-12.col-lg-3.d-none.d-lg-block
                    h4.list-group-item-title.text-truncate
                      a(href='page-conversations.html') Openlane
                    p.list-group-item-text  23 hours ago 
                  // /grid column
                  // grid column
                  .col-12.col-lg-9
                    h4.list-group-item-title.text-truncate
                      a(href='page-conversations.html') Final reminder: Upgrade to Pro
                    p.list-group-item-text.text-truncate  Follow up this reminder asap, quam error praesentium asperiores a quidem. 
                  // /grid column
                  // grid column
                  .col-12.d-lg-none
                    p.list-group-item-text  23 hours ago 
                  // /grid column
                // /grid row
              // /message body
              // message actions
              .list-group-item-figure
                // .dropdown
                .dropdown
                  button.btn.btn-sm.btn-icon.btn-secondary(data-toggle='dropdown')
                    i.fa.fa-ellipsis-h
                  .dropdown-arrow
                  // .dropdown-menu
                  .dropdown-menu.dropdown-menu-right
                    a.dropdown-item(href='#!') Mark as read
                    a.dropdown-item(href='#!') Mark as unread
                    a.dropdown-item(href='#!') Toggle star
                    a.dropdown-item(href='#!') Trash
                  // /.dropdown-menu
                // /.dropdown
              // /message actions
            // /message item
            // message item
            .list-group-item.read.d-none
              // message figure
              .list-group-item-figure
                span.rating.rating-sm.mr-3
                  input#star5(type='checkbox' value='1')
                  label(for='star5')
                    span.fa.fa-star
                // .avatar
                .avatar
                  a.tile.tile-circle.bg-green(href='page-conversations.html') GZ
                // /.avatar
              // /message figure
              // message body
              .list-group-item-body.pl-md-2
                // grid row
                .row
                  // grid column
                  .col-12.col-lg-3.d-none.d-lg-block
                    h4.list-group-item-title.text-truncate
                      a(href='page-conversations.html') Gogo Zoom
                    p.list-group-item-text  1 day ago 
                  // /grid column
                  // grid column
                  .col-12.col-lg-9
                    h4.list-group-item-title.text-truncate
                      a(href='page-conversations.html') Live healthy with this wireless sensor.
                    p.list-group-item-text.text-truncate  Hi all, eveniet magnam fugiat odio nemo vero! 
                  // /grid column
                  // grid column
                  .col-12.d-lg-none
                    p.list-group-item-text  1 day ago 
                  // /grid column
                // /grid row
              // /message body
              // message actions
              .list-group-item-figure
                // .dropdown
                .dropdown
                  button.btn.btn-sm.btn-icon.btn-secondary(data-toggle='dropdown')
                    i.fa.fa-ellipsis-h
                  .dropdown-arrow
                  // .dropdown-menu
                  .dropdown-menu.dropdown-menu-right
                    a.dropdown-item(href='#!') Mark as read
                    a.dropdown-item(href='#!') Mark as unread
                    a.dropdown-item(href='#!') Toggle star
                    a.dropdown-item(href='#!') Trash
                  // /.dropdown-menu
                // /.dropdown
              // /message actions
            // /message item
            
          // /.list-group-messages
        // /.card
        // .section-block
        .section-block
          // record sumary
          p.text-muted  Showing 1 to 10 of 1,000 entries 
          // /record sumary
          // .pagination
          ul.pagination.justify-content-center.mb-5.mb-sm-0
            li.page-item.disabled
              a.page-link(href='#!' tabindex='-1')
                i.fa.fa-lg.fa-angle-left
            li.page-item
              a.page-link(href='#!') 1
            li.page-item.disabled
              a.page-link(href='#!' tabindex='-1') ...
            li.page-item
              a.page-link(href='#!') 13
            li.page-item.active
              a.page-link(href='#!') 14
            li.page-item
              a.page-link(href='#!') 15
            li.page-item.disabled
              a.page-link(href='#!' tabindex='-1') ...
            li.page-item
              a.page-link(href='#!') 24
            li.page-item
              a.page-link(href='#!')
                i.fa.fa-lg.fa-angle-right
          // /.pagination
        // /.section-block
      // /.page-section
    // /.page-inner
      
    form#departmentNewForm(name='departmentNewForm', action='/m/' + 'conversation_id' + '/ticket/', method='post')
      #departmentNewModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='clientContactNewModalLabel' aria-hidden='true')
        // .modal-dialog
        .modal-dialog(role='document')
          // .modal-content
          .modal-content
            // .modal-header
            .modal-header
              h6.modal-title.inline-editable
                input.form-control.form-control-lg(type='text' name='name' placeholder='Name (e.g. Packaging)' required='')
            // /.modal-header
            // .modal-body
            .modal-body
              // .form-group
              .form-group
                .form-label-group
                  input#cnEmail.form-control(type='email' name='support_email' placeholder='Support Email' required='')
                  label(for='cnEmail') Support Email
                  
              div.form-group
                label(for='type') Property:
                select#type.form-control(type='select', placeholder='Select Property' name='property' required='true' )
                  each property in properties || []
                    option(value=property._id selected=(instance && instance.property.toString() === property._id.toString() ? 'selected' : 'false')) #{property.name}

              div.form-group
                label(for='type') Department:
                select#department.form-control(type='select', placeholder='Select Department' name='department' required='true' )
                  each department in departments || []
                    option(value=department._id selected=(instance && instance.property.toString() === property._id.toString() ? 'selected' : 'false')) #{department.name}

              div.form-group
                label(for='subject') Subject:
                input#subject.form-control(type='text', placeholder='Ticket Subject' name='subject' required='true' value=(undefined === instance ? '' : instance.subject) )

              div.form-group
                label(for='contact_name') Contact Name:
                input#contact_name.form-control(type='text', placeholder='Contact Name' name='contact_name' required='true' value=(undefined === instance ? '' : instance.contact_name) )

              div.form-group
                label(for='contact_email') Contact Email:
                input#contact_email.form-control(type='email', placeholder='Contact Email' name='contact_email' required='true' value=(undefined === instance ? '' : instance.contact_email) )

              div.form-group
                label(for='issue') Issue Description:
                textarea#issue.form-control(placeholder='Ticket Issue' name='issue' required='true') #{undefined === instance ? '' : instance.issue}

              div.form-group
                label(for='priority') Priority:
                select#priority.form-control(type='select', placeholder='Select Priority' name='priority' required='true' )
                  option(value='Low' selected=(undefined === instance || instance.priority != 'Low' ? false : 'selected')) Low
                  option(value='Medium' selected=(undefined === instance || instance.priority != 'Medium' ? false : 'selected')) Medium
                  option(value='High' selected=(undefined === instance || instance.priority != 'High' ? false : 'selected')) High

              div.form-group
                label(for='status') Status:
                select#status.form-control(type='select', placeholder='Select status' name='status' required='true' )
                  option(value='Open' selected=(undefined === instance || instance.status != 'Open' ? false : 'selected')) Open
                  option(value='Closed' selected=(undefined === instance || instance.status != 'Closed' ? false : 'selected')) Closed


              // /.form-group
            // /.modal-body
            // .modal-footer
            .modal-footer
              button.btn.btn-primary(type='submit') Save
              button.btn.btn-light(type='button' data-dismiss='modal') Close
            // /.modal-footer
          // /.modal-content
        // /.modal-dialog


block scripts
  script.
    var name;
